@using venteTest.Resources.Views

<h5 class="p-2 rounded-top" style="background-color: #FFC107;"><span>@StringsAdmin.NavOptions</span></h5>
<ul class="list-group mb-4">
    <li class="list-group-item list-group-item-warning"><a asp-action="Index">@StringsAdmin.NavCategorie</a></li>
    <li class="list-group-item list-group-item-warning"><a asp-action="Membres">@StringsAdmin.NavMembre</a></li>
    <li class="list-group-item list-group-item-warning"><a asp-action="BidConfiguration">@StringsAdmin.NavBid</a></li>

    @*<li class="list-group-item list-group-item-warning"><a asp-action="Objets">@StringsAdmin.NavObjets</a></li>*@
    <li class="list-group-item list-group-item-warning"><a asp-action="Objets">@StringsAdmin.NavObjets</a></li>
</ul>

<h5 class="p-2 rounded-top" style="background-color: #FFC107;"><span>Reports</span></h5>
<ul class="list-group mb-4">
    <li class="list-group-item list-group-item-warning"><a asp-action="Objets">Objects</a></li>
    <li class="list-group-item list-group-item-warning"><a asp-action="MembresCote">Member Ratings</a></li>
    <li class="list-group-item list-group-item-warning"><a asp-action="Ventes">Annual Sales</a></li>
    <li class="list-group-item list-group-item-warning"><a asp-action="rapSettings">Settings</a></li>
</ul>