@using venteTest.Resources.Views

@model IEnumerable<venteTest.Models.AdminViewModels.CategorieViewModel>


@{
    ViewData["Title"] = "Index";
}

<h2>@StringsAdmin.IndexGestionCategories</h2>
<h5 class="text-primary messageTempSb">@TempData["message"]</h5>

<p>
    <a asp-action="CreateCategorie">@StringsAdmin.IndexCreerNouvelle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="EditCategorie" asp-route-id="@item.CategorieId">@StringsAdmin.IndexEdit</a> |
                    <a asp-action="DeleteCategorie" asp-route-id="@item.CategorieId">@StringsAdmin.IndexDelete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
