@model IEnumerable<venteTest.Models.AdminViewModels.MemberViewModel>
@using venteTest.Resources.Views

@{
    ViewData["Title"] = @StringsAdmin.Membres;
}

<h2>@StringsAdmin.MembresGestion</h2>
<h5 class="text-primary messageTempSb">@TempData["message"]</h5>

<p>
    @* Afficher tout Ou nouveaux depuis 24h *@
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @StringsAdmin.MembersDisplay <small>&#x25BC;</small>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" role="menuitem" asp-action="Membres" asp-route-members="AllMembers">@StringsAdmin.MembersAll</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" role="menuitem" asp-action="Membres" asp-route-members="NewMembers">@StringsAdmin.Members24</a>
        </div>
    </div>
    @{
        if (@ViewBag.AllMembers == "all") {
            <h6 class="mt-2">@StringsAdmin.Members24 :</h6>
        } else {
            <h6 class="mt-2">@StringsAdmin.MembersAll :</h6>
        }
    }
    @* Fin afficher tout Ou nouveaux depuis 24h *@
</p>

<table class="table-hover">
    <thead>
        <tr class="border border-info">
                <th class="p-2">
                    @StringsAdmin.MembresCourriel
                </th>
                <th class="p-2">
                    @StringsAdmin.MembresCourrielConfirme
                </th>
                <th class="p-2">
                    @StringsAdmin.MembresNom
                </th>
                <th class="p-2">
                    @StringsAdmin.MembresPrenom
                </th>
                <th class="p-2">
                    @StringsAdmin.MembresTelephone
                </th>
                <th class="p-2">
                    @StringsAdmin.MembresCivilite
                </th>
                <th class="p-2">
                    @StringsAdmin.MembresLangue
                </th>
                <th class="p-2">
                    @StringsAdmin.MembresAdresse
                </th>
                <th class="p-2">
                    @StringsAdmin.MembresDateEnrolement
                </th>
                <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                    <a class="btn btn-outline-warning" role="button" asp-action="EmailMember" asp-route-email="@item.Email"><i class="fa fa-envelope"></i></a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Civilite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Langue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateInscription)
                </td>
                <td>
                    @*<a asp-action="ToggleMember" asp-route-id="@item.CategorieId">Edit</a>*@

                    @if (!item.EmailConfirmed)
                    {
                        <a class="btn btn-outline-warning" role="button" asp-action="ToggleMember" asp-route-email="@item.Email"><i class="far fa-check-circle"></i></a>
                    }
                    else
                    {
                        <a class="btn btn-outline-warning" role="button" asp-action="ToggleMember" asp-route-email="@item.Email"><i class="far fa-times-circle"></i></a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
