@model IEnumerable<venteTest.Models.AdminViewModels.ObjetsViewModel>
@using venteTest.Resources.Views

@{
    ViewData["Title"] = "Objets";

    string headerBidCurrentEnd = "";
    string headerLeaderOrWinner = "";

    if (@ViewBag.StateObjects == "Sold")
    {
        headerBidCurrentEnd = "Bid End Price";
        headerLeaderOrWinner = "Bid Winner";
    }
    else
    {
        headerBidCurrentEnd = "Current Bid Price";
        headerLeaderOrWinner = "Bid Leader";
    }
}

<h2>Objects</h2>
<p>
    @* Afficher tout Ou nouveaux depuis 24h *@
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @StringsAdmin.Options <small>&#x25BC;</small>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" role="menuitem" asp-action="Objets" asp-route-objects="AllObjects">@StringsAdmin.OptionsTous</a>
            <a class="dropdown-item" role="menuitem" asp-action="Objets" asp-route-objects="NewObjets">@StringsAdmin.OptionNouveaux</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" role="menuitem" asp-action="Objets" asp-route-state="SoldObjects">@StringsAdmin.OptionVendus</a>
            <a class="dropdown-item" role="menuitem" asp-action="Objets" asp-route-state="SaleObjets">@StringsAdmin.OptionVente</a>
        </div>
    </div>
    <div class="mt-2">
        <h6>@StringsAdmin.HistoriqueUsager</h6>
        <select class="form-control w-auto m-2" id="lesUsers" onchange="location = this.value;">
            <option>@StringsAdmin.HistoriqueCourriel</option>
            @foreach (var item in ViewBag.lstMembers)
            {
                if (ViewBag.EmailSel == @item.Email)
                {
                    <option value="/Admin/Objets/?email=@item.Email" selected>@item.Email</option>
                }
                else
                {
                    <option value="/Admin/Objets/?email=@item.Email">@item.Email</option>
                }
            }
        </select>
    </div>
    @{
        var blah = (@ViewBag.StateObjects == "Sold") ? "sold" : (@ViewBag.StateObjects == "OnSale") ? "on sale" : "";

        if (@ViewBag.AllObjects == "all")
        {
    <h6 class="mt-4">@StringsAdmin.OptionNouveaux @blah : </h6>
        }
        else
        {
    <h6 class="mt-4">@StringsAdmin.AfficherTous @blah :</h6>
        }
    }
    @* Fin afficher tout Ou nouveaux depuis 24h *@
</p>

<table class="table-hover">
    <thead>
        <tr class="border border-info">
            <th class="p-2">
                @*@Html.DisplayNameFor(model => model.imageUrl)*@
            </th>
            <th class="p-2">
                @StringsAdmin.Nom
            </th>
            <th class="p-2">
                @StringsAdmin.Description
            </th>
            <th class="p-2">
                @StringsAdmin.MiseInitiale
            </th>
            <th class="p-2">
                @headerBidCurrentEnd
            </th>
            <th class="p-2">
                @StringsAdmin.MiseDateDepart
            </th>
            <th class="p-2">
                @StringsAdmin.MiseDateFin
            </th>
            <th class="p-2">
                @StringsAdmin.MiseJours
            </th>
            <th class="p-2">
                @StringsAdmin.MiseEtat
            </th>
            <th class="p-2">
                @headerLeaderOrWinner
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td class="p-2">
                    <img src="/@item.imageUrl" width="100" height="100" class="m-2" />
                </td>
                <td class="p-2">
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td class="p-2">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="p-2">
                    @Html.DisplayFor(modelItem => item.PrixDepart)
                </td>
                <td class="p-2">
                    @{
                        var enchereMenante = item.Encheres.OrderByDescending(t => t.Niveau).FirstOrDefault();
                        var miseurMenantEnchere = enchereMenante.Miseur;

                        var leader = miseurMenantEnchere.Prenom + " " + miseurMenantEnchere.Nom;
                    }
                    @Html.DisplayFor(modelItem => item.Encheres.OrderByDescending(t => t.Niveau).FirstOrDefault().Niveau) $
                </td>
                <td class="p-2">
                    @Html.DisplayFor(modelItem => item.DateInscription)
                </td>
                <td class="p-2">
                    @Html.DisplayFor(modelItem => item.DateLimite)
                </td>
                <td class="p-2">
                    @Html.DisplayFor(modelItem => item.DureeMiseVente)
                </td>
                <td class="p-2">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="p-2">
                    @leader
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    </tbody>
</table>
