@using venteTest.Resources.Views


@{
    ViewData["Title"] = "FAQ";
}
<h2>@SharedStrings.Faq</h2>
<h3>@SharedStrings.QuestionsCourantes</h3>

<p></p>

<p>@StringsHome.FAQDescription:</p>

<p>
    <ul>
        <li>
            @StringsHome.FAQ1
        </li>
        <li>
            @StringsHome.FAQ2
        </li>
        <li>
            @StringsHome.FAQ3
        </li>
        <li>
            @StringsHome.FAQ4
        </li>
        <li>
            @StringsHome.FAQ5
        </li>
        <li>
            @StringsHome.FAQ6 <a asp-area="" asp-controller="Home" asp-action="Contact">@SharedStrings.Contact</a>.
        </li>
    </ul>
</p>



