@using Microsoft.AspNetCore.Identity
@using venteTest.Models
@*@model IEnumerable<venteTest.Models.Objet>*@
@model PaginatedList<venteTest.Models.Objet>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
@*<div class="topnav">
    <div class="row">
        <div class="col-4">
            <select class="form-control categ-sel" id="cat">
                <option>Catégorie 1</option>
                <option>Catégorie 2</option>
                <option>Catégorie 3</option>
                <option>Catégorie 4</option>
                <option>Catégorie 5</option>
            </select>
        </div>
        <div class="col-8">
            <div class="search-container">
                <form action="">
                    <input type="text" placeholder="Recherche.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>*@

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" datadropdown-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="~/images/auction-01.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @*Learn how to build ASP.NET apps that can run anywhere.
                        <a asp-area="" asp-controller="Objets" asp-action="Index" class="nav-link">À propos</a>*@
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/auction-04.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @*There are powerful new features in Visual Studio for building modern web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                           Learn More
                        </a>*@
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/auction-06.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @*Bring in libraries from NuGet and npm, and automate tasks using Grunt or Gulp.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                            Learn More
                        </a>*@
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/auction-07.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @*Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                            Learn More
                        </a>*@
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">
            Précédent
        </span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">
            Prochain
        </span>
    </a>
</div>

<div class="mt-4">
    <hr />
    <form class="form-inline" asp-action="Index" method="get" >
        <div class="form-group mb-2">
            <strong class="h5">Filter objects by : <mark class="p-2 m-2">Name</mark></strong><input type="text" name="SearchString" class="form-control m-2" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search !" class="btn btn-warning btn-lg m-2" /> |
            <strong class="m-2 h5">by : <mark class="p-2 m-2">Categorie</mark></strong> |
            <select class="form-control w-auto m-2" id="cat" onchange="filterCategories(this.value)">
                <option>Select a categorie...</option>
                @foreach (var item in ViewBag.Categories) {
                            <option>@item.Nom</option>
                }
            </select> |
            <a class="m-2" asp-action="Index">Show Full List</a>
        </div>
    </form>
</div>
<div class="mt-2">
    <hr />
    <table id="laPagedList" class="table-striped thead-dark">
        <thead>
            <tr>
                <th class="p-4">
                    @*@Html.DisplayNameFor(model => model.Nom)*@
                    <a title="Click here to filter field!" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"><span class="h6">Name</span><i class="fa fa-fw fa-sort"></i></a>
                </th>
                <th class="p-2 m-2">
                    <span class="h6">Description</span>
                </th>
                <th class="p-2 m-2">
                    @*@Html.DisplayNameFor(model => model.PrixDepart)*@
                    <a title="Click here to filter field!" asp-action="Index" asp-route-sortOrder="@ViewData["PrixDepartSortParm"]"><span class="h6">Price</span><i class="fa fa-fw fa-sort"></i></a>
                </th>
                <th class="p-2 m-2">
                    @*@Html.DisplayNameFor(model => model.DateInscription)*@
                    <a title="Click here to filter field!" asp-action="Index" asp-route-sortOrder="@ViewData["DateInscritSortParm"]"><span class="h6">Inscription Date</span><i class="fa fa-fw fa-sort"></i></a>
                </th>
                @*
                 <th class="p-2 m-2">
          
                <a title="Click here to filter field!" asp-action="Index" asp-route-sortOrder="@ViewData["DureeMiseVenteSortParm"]"><span class="h6">Days</span><i class="fa fa-fw fa-sort"></i></a>
                </th>
                *@
                <th class="p-2 m-2">
                    @*@Html.DisplayNameFor(model => model.Categorie)*@
                    <a title="Click here to filter field!" asp-action="Index" asp-route-sortOrder="@ViewData["CategorieSortParm"]"><span class="h6">Categorie</span><i class="fa fa-fw fa-sort"></i></a>
                </th>
                <th class="p-2 m-2">
                    @*@Html.DisplayNameFor(model => model.imageUrl)*@
                    <span class="h6">Image</span>
                </th>
                <th class="p-2 m-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr class="p-2">
                <td class="p-2">
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td class="p-2">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="p-2">
                    @Html.DisplayFor(modelItem => item.PrixDepart)
                </td>
                <td class="p-2">
                    @Html.DisplayFor(modelItem => item.DateInscription)
                </td>
                @*
        <td class="p-2">
            @Html.DisplayFor(modelItem => item.DureeMiseVente)
        </td>
                *@
                <td class="laCategorie p-2">
                    @Html.DisplayFor(modelItem => item.Categorie.Nom)
                </td>
                <td class="p-2">
                    <img src="@item.imageUrl" width="100" height="100" />
                </td>
                <td class="p-2">
                    <a class="btn btn-warning mb-2" role="button" asp-controller="Objets" asp-action="Miser" asp-route-id="@item.ObjetID">BID !</a>
                    <a class="btn btn-outline-warning mb-2" role="button" asp-controller="Objets" asp-action="Details" asp-route-id="@item.ObjetID">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <hr />
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="m-2 btn btn-outline-warning btn-lg @prevDisabled">
    Previous
</a><span> | </span>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="m-2 btn btn-outline-warning btn-lg @nextDisabled">
    Next
</a>

@*<div class="row mt-5 monCardRow">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Nom)</h5>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Description)
                            <br />
                            <h4> @Html.DisplayFor(modelItem => item.PrixDepart) $</h4>
                        </p>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-action="Edit" asp-controller="Objets" asp-route-id="@item.ObjetID" class="btn btn-primary">Modifier</a>
                            <a asp-action="Details" asp-controller="Objets" asp-route-id="@item.ObjetID" class="btn btn-primary">Détails</a>
                            <a asp-action="Delete" asp-controller="Objets" asp-route-id="@item.ObjetID" class="btn btn-primary">Supprimer</a>

                        }
                        else
                        {
                            <a asp-action="Details" asp-controller="Objets" asp-route-id="@item.ObjetID" class="btn btn-primary">Détails</a>

                        }
                    </div>
                </div>
            </div>

        }

    </div>*@
