@using venteTest.Resources.Views

@model IEnumerable<venteTest.Models.Objet>
@{
    ViewData["Title"] = "Rapport4";
    Layout = "~/Views/Rapports/_Layout.cshtml";

    //int moisDebut = Model.FirstOrDefault().SendCotesReportViewModel.SelectedMonthStart;
    //int anDebut = Model.FirstOrDefault().SendCotesReportViewModel.SelectedYearStart;
    //int moisFin = Model.FirstOrDefault().SendCotesReportViewModel.SelectedMonthEnd;
    //int anFin = Model.FirstOrDefault().SendCotesReportViewModel.SelectedMonthEnd;

    // Liste des évaluations d'achat faits par l'acheteur sur le vendeur
    var achatsEvals = Model.Select(o => o.AchatEvaluation);

    // Liste des vendeurs
    List<Vendeur> vendeurs = achatsEvals.Select(o => o.Vendeur).Distinct().ToList();

}

<h2>Rapport 4 - Synthèse des cotes de membres vendeurs pour période @*du @anDebut/@moisDebut - @anFin/@moisFin*@</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @StringsAdmin.MembresCourriel
            </th>
            <th>
                @StringsAdmin.MembresCivilite
            </th>
            <th>
                @StringsAdmin.MembresPrenom
            </th>
            <th>
                @StringsAdmin.MembresNom
            </th>
            <th>
                <span>@StringsMember.SellerRating</span>
            </th>
            <th>
                <span>Nb Evaluations</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in vendeurs) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => v.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => v.Civilite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => v.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => v.Nom)
                </td>
                <td>
                    @achatsEvals.Where(p => p.Vendeur == v).Sum(x => x.Cote)
                </td>
                <td>
                    @achatsEvals.Where(p => p.Vendeur == v).Count()
                </td>
            </tr>
        }
    </tbody>
</table>
