@model IEnumerable<venteTest.Models.Objet>

@{
    ViewData["Title"] = "Rapport5";
    Layout = "~/Views/Rapports/_Layout.cshtml";
    string annee = Model.FirstOrDefault().DateLimite.Year.ToString();
    double sommeCommisions = 0;
    double sommePrix = 0;

}

<h2>Rapport 5 - Synthèse des ventes réalisées et des commissions perçues année @annee</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ObjetID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixVenteBrute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLimite)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        sommeCommisions += item.Commission;
        sommePrix += item.PrixVenteBrute;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObjetID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixVenteBrute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInscription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLimite)
            </td>

        </tr>
}

        <tr>
            <td>
                <strong>Totaux</strong>
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                
            </td>
            <td>
                <strong>@sommePrix $</strong>
            </td>
            <td>
                <strong>@sommeCommisions $</strong>
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>
