@using venteTest.Resources.Views
@using Microsoft.AspNetCore.Identity
@using venteTest.Data
@using Microsoft.EntityFrameworkCore;
@using venteTest.Resources.Views

@inject UserManager<ApplicationUser> _userManager
@inject ApplicationDbContext _context

@{
    IList<ApplicationUser> lstMembers = await _userManager.GetUsersInRoleAsync("Member");
    IList<ApplicationUser> lstAdmin = await _userManager.GetUsersInRoleAsync("Admin");

    lstMembers.Add(lstAdmin.FirstOrDefault()); //ajouter l'admin à liste de membres
    var members = lstMembers.Where(p => p.EmailConfirmed == true);

    double ratingMoyenVente = 0d;
    int nbEvaluations = 0;
    
}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <strong><i class="far fa-user"></i><i class="far fa-user"></i><i class="far fa-user"></i> &#8230;</strong>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="text-uppercase text-dark h5">@StringsMember.Actif</span>
                    <div class="form-inline my-2 my-lg-0 mt-1">
                        <input id="srchParams" class="form-control mr-sm-2" type="search" placeholder="@StringsMember.Rechercher" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" onclick="showParNomPrenomEmail(document.getElementById('srchParams').value)"><i class="fa fa-search"></i></button>
                        <span class="text-white ml-2"> | </span>
                        <a class="text-white ml-2 btn btn-outline-secondary" role="button" onclick="document.getElementById('srchParams').value=''; showParNomPrenomEmail(document.getElementById('srchParams').value); document.getElementById('srchParams').focus()"> @StringsMember.Reset</a>
                    </div>
                    <table id="tabledeMembresAcc" class="table-hover mt-2 table-responsive">
                        <thead>
                            <tr class="border-top border-bottom text-white-50" style="background-color: rgba(52, 58, 64,.8) !important; ">
                                <th class="p-2">
                                    @StringsAdmin.MembresCourriel
                                </th>
                                <th class="p-2">
                                    @StringsAdmin.MembresNom
                                </th>
                                <th class="p-2">
                                    @StringsAdmin.MembresPrenom
                                </th>
                                <th class="p-2">
                                    @StringsAdmin.MembresCivilite
                                </th>
                                <th class="p-2">
                                    @StringsAdmin.MembresDateEnrolement
                                </th>
                                <th class="p-2">
                                    <span>@StringsMember.SellerRating</span>
                                </th>
                                <th class="p-2">
                                    <span>Nb Evaluations</span>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in members)
                    {

                                string query = "SELECT * FROM Objets WHERE Status = {0} AND VendeurId = {1} ";

                                var objetsDuMembre = from o in _context.Objets.
                                                             Include(o => o.VenteEvaluation).
                                                                ThenInclude(o => o.Acheteur).
                                                             Include(o => o.AchatEvaluation).
                                                                ThenInclude(o => o.Vendeur).
                                                             FromSql(query, 1, item.Id)
                                                     select o;

                                //var objetsDuMembre = lstMembers.Where(t => t.Email.Equals(item.Email)).FirstOrDefault().Objets;
                                if (objetsDuMembre != null)
                                {
                                    ratingMoyenVente = 0d; int cmpt = 0;
                                    foreach (var objItem in objetsDuMembre)
                                    {

                                        if (objItem.AchatEvaluation != null) {
                                            ratingMoyenVente += Convert.ToDouble(objItem.AchatEvaluation.Cote);
                                            cmpt++;
                                        }

                                    }

                                    ratingMoyenVente = (cmpt != 0) ? ratingMoyenVente / Convert.ToDouble(cmpt) : 0;

                                    nbEvaluations = cmpt;
                                }
                                // N.B. :
                                // AchatEvaluation = évaluation d'achat fait par l'acheteur sur le vendeur


                            <tr class="border-bottom">
                                <td class="p-2">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="p-2">
                                    @Html.DisplayFor(modelItem => item.Nom)
                                </td>
                                <td class="p-2">
                                    @Html.DisplayFor(modelItem => item.Prenom)
                                </td>
                                <td class="p-2">
                                    @Html.DisplayFor(modelItem => item.Civilite)
                                </td>
                                <td class="p-2">
                                    @Html.DisplayFor(modelItem => item.DateInscription)
                                </td>
                                <td class="p-2">
                                    @* Seller rating... *@

                                    @ratingMoyenVente
                                </td>
                                <td class="p-2">
                                    @* Nb evaluations *@
                                    @nbEvaluations
                                    
                                </td>
                                <td class="p-2">
                                    <span><a class="btn btn-outline-danger" role="button" asp-controller="Member" asp-action="Index" asp-route-email="@item.Email"><i class="far fa-user"></i> @StringsMember.Profile</a></span>
                                </td>
                                <td>
                                    <a asp-controller="Home" asp-action="Index" asp-route-email="@item.Email">@StringsMember.DisplayActive</a>
                                </td>
                            </tr>

                            }
                            <tr class="border-top text-white-50" style="background-color: rgba(52, 58, 64,.8) !important; ">
                                <td class="pl-2">
                                    NOTES :
                                </td>
                                <td class="" colspan="8">
                                    <span> -@StringsMember.RatingsExplanation</span>
                                </td>
                            </tr>
                            <tr class="border-bottom text-white-50" style="background-color: rgba(52, 58, 64,.8) !important; ">
                                <td class=""></td>
                                <td class="" colspan="8">
                                    <span> -@StringsMember.SellerRatingEx</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--  /.container  -->


    </div>
</li>