@using venteTest.Resources.Views

@model ErrorViewModel

@{
    ViewData["Title"] = @SharedStrings.ErrorTitre;
}

<h1 class="text-danger">@SharedStrings.ErrorTitre</h1>
<h2 class="text-danger">
    @SharedStrings.ErrorDescription
</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@SharedStrings.ErrorRequete </strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@SharedStrings.ErrorDev1</h3>
<p>
    @SharedStrings.ErrorDev2
</p>
<p>
    @SharedStrings.ErrorDev3
</p>
