@using venteTest.Resources.Views

@*@model venteTest.Models.Objet*@
@model venteTest.Models.ObjetViewModel.AnnoncerObjectViewModel

@{
    ViewData["Title"] = @StringsObjets.CreateCreer;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@StringsObjets.CreateCreer</h2>

<h4>@StringsObjets.CreateObjet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @*<input asp-for="Description" class="form-control" />*@
                <textarea asp-for="Description" rows="5" cols="40" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixDepart" class="control-label"></label>
                <input asp-for="PrixDepart" class="form-control" />
                <span asp-validation-for="PrixDepart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateInscription" class="control-label"></label>
                <input asp-for="DateInscription" class="form-control" hidden />
                <input value="@Model.DateInscription" class="form-control" disabled />
                <span asp-validation-for="DateInscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateLimite" class="control-label"></label>
                @*<input asp-for="DateLimite" class="form-control" />*@
                @Html.EditorFor(model => model.DateLimite, new { id = "DateLimite" })
                <span asp-validation-for="DateLimite" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="DureeMiseVente" class="control-label"></label>
            <input asp-for="DureeMiseVente" class="form-control" />
            <span asp-validation-for="DureeMiseVente" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="imageUrl" class="control-label"></label>
                <input type="file" name="pic" class="form-control" /><br />
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <select asp-for="CategorieID" class="form-control" asp-items="@(new SelectList(@ViewBag.CategoryList ,"CategorieId", "Nom"))"></select>
            </div>

            <div class="form-group">
                <label  class="control-label">Piece jointes</label>
                <input type="file" name="attachments" multiple class="form-control" /><br />
            </div>


            <div class="form-group">
                <input type="submit" value="@StringsObjets.BoutonCreer" class="btn btn-warning" />
            </div>
        </form>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">@StringsObjets.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
