@using venteTest.Resources.Views

@model venteTest.Models.Objet

@{
    ViewData["Title"] = @StringsObjets.DeleteSupprimer ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">@StringsObjets.DeleteSupprimer</h2>

<h3 align="center">@StringsObjets.DeleteConfirmation</h3>
<div class="row">
    <div class="col-md-3">
        <img src="~/@Html.DisplayTextFor(model => model.imageUrl)" width="300" height="300" />
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrixDepart)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrixDepart)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateInscription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateInscription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateLimite)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateLimite)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DureeMiseVente)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DureeMiseVente) Day(s)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Categorie)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Categorie.Nom)
            </dd>
        </dl>

    </div>
</div>
<div class="">
    <form asp-action="Delete">
        <input type="hidden" asp-for="ObjetID" />
        <a asp-controller="Objets" asp-action="Index">@StringsObjets.BackToList</a>|
        <input type="submit" value="@StringsObjets.ButtonDelete" class="btn btn-warning mb-2" />
    </form>
</div>
