@model venteTest.Models.ObjetViewModel.EvaluationViewModel

@{
    ViewData["Title"] = "DetailEvaluation";
}



<div>
    <h4>Evaluation </h4>
    <h4>Evaluation on @ViewBag.SellerBuyer : @Model.leUser.Prenom @Model.leUser.Nom (@Model.leUser.Email)</h4> @*Acheteur ou Vendeur*@
    <h4>Object @Model.Objet.ObjetID : @Model.Objet.Nom (@Model.Objet.Description)</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.DateEvaluation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateEvaluation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
